/* faded text*/
.fade { color: lightgray; }
.lightsecondary {color : #f5fd67;}

.footer {
  background-color: #001f3f;
  color: #F7F8FA;
  font-size: 10pt;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
}

.remark-slide-number {
  font-size: 10pt;
  bottom: 0;
  right: 0;
  position: fixed;
  margin-bottom: 2px;
  margin-right: 10px;
  color: #F7F8FA;; /* white */
  opacity: 1; /* default: 0.5 */
}

/* alignment helpers*/
.valign-middle{
    vertical-align: 50%;
}


/* Image sizes */
.image-5 img {
  width: 5%;
  margin: auto;
  vertical-align: auto;
}

.image-30 img {
  width: 30%;
  margin: auto;
  vertical-align: auto;
}
